body {
  background-color: #f7f7f7 !important;
  direction: rtl;
}

.weather {
  max-width: 460px;
  height: 800px;
  background-color: #d8f0f0;
  margin: 100px auto;
  border-radius: 40px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  font-family: ir_sans;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes fadeForecast {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeForecast {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes currentAnim {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes currentAnim {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes forecastAnim {
  0% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes forecastAnim {
  0% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes slideInTop {
  from {
    top: -100px;
  }
  to {
    top: 100px;
  }
}

@keyframes slideInTop {
  from {
    top: -100px;
  }
  to {
    top: 100px;
  }
}

@-webkit-keyframes slide-in-top {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 25px;
    opacity: 1;
  }
}

@keyframes slide-in-top {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 25px;
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  0% {
    top: 100px;
  }
  100% {
    top: -100px;
  }
}

@keyframes slideUp {
  0% {
    top: 100px;
  }
  100% {
    top: -100px;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.4s forwards;
          animation: slide-in-left 0.4s forwards;
}

@-webkit-keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.4s forwards;
          animation: slide-in-right 0.4s forwards;
}

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=weather.css.map */